# Irrelevant folders
exp/
node_modules/
.idea/

# Run-time data
config.js
config-prod.js
lastseen.json
public/logs/
*.pid
*.seed
npm-debug.log

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.directory
