body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 85%;
	line-height: 1.6em;
	color: #000;
	background-color: #fff;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/* @media only screen and (min-width: 600px){
	body {
		font-size: 125%;
	}
} */

strong, dt {
	font-weight: bold;
}
em {
	font-style: italic;
}

a {
	color: #29d;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.invisible {
	font-weight: normal;
}

h1 {
	font-size: 150%;
	margin: 10px 0;
}

h1 a {
	color: inherit;
}

h2 {
	font-size: 125%;
	margin: 10px 0;
}

.error {
	background-color: #eee;
	padding: 20px;
}

.error h1 {
	font-size: 125%;
}

.error h2 {
	font-size: 100%;
}

header {
	border-bottom: 2px solid #ccc;
	padding: 0 10px 0;
	margin: 0 -10px 5px;
}

.itemlist {
	list-style-type: none;
	padding: 0;
	margin: 10px -10px;
}

.itemlist li {
	padding: 3px 50px 3px 10px;
	position: relative;
}

.itemlist li.notime {
	padding-right: 10px;
}

.itemlist li:not(.bestfriend){
	/*font-size: 85%;*/
	line-height: 1.6em;
}

.itemlist li.bestfriend {
	font-size: 125%;
	padding-right: 60px;
}

.itemlist a {
	color: inherit;
}

.itemlist .anew {
	margin-top: 20px;
}

.itemlist .subhead {
	margin: 20px 0 5px;
	/*font-size: 85%;*/
	text-transform: uppercase;
	color: #999;
}

.itemlist .subhead h2 {
	font-size: 100%;
	margin: 0;
	line-height: 1em;
}

.itemlist .ts {
	position: absolute;
	top: 3px;
	right: 10px;
	text-align: right;
}

.itemlist .l {
	white-space: nowrap;
	overflow: hidden;
}

.itemlist time, .itemlist .ts, .itemlist .channel, .itemlist .msg {
	opacity: .5;
}

.itemlist .flash, .itemlist .flash[style] {
	background-color: #c00 !important;
	color: #fff !important;
}

pre#lines {
	line-height: 1.3em;
	font-size: 13px;
	overflow-x: auto;
}

ul#lines {
	list-style-type: none;
	padding: 0;
	font-size: 14px;
	line-height: 1.6em;
}

ul#lines time, ul#lines .channel {
	color: #999;
}

ul#lines time, ul#lines .author, ul#lines .channel {
	padding-right: 1ex;
}

ul#lines li.splitter {
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	padding: 20px 0 20px 5em;
	margin: 10px 0;
	border: 3px solid #ccc;
	border-width: 3px 0;
}

ul#lines li.splitterstart {
	border: none;
	padding-top: 0;
	padding-left: 0;
	margin: 0;
}

ul#lines li.msg {
	display: table;
}

ul#lines li.msg span, ul#lines li.msg strong, ul#lines li.msg time, ul#lines li.msg .channel {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

ul#lines li.action {
	font-style: italic;
}

ul#lines li.waiting {
	text-align: center;
	color: #999;
	font-size: 125%;
	margin: 80px 0;
}

ul.chart li {
	position: relative;
	padding: 5px 10px;
	margin: 0 0 1px;
	line-height: 1.2em;
}

ul.chart li:nth-child(odd) {
	background-color: #fafafa;
}

ul.chart li span.p {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 2;
	text-align: right;
}

ul.chart li span.t {
	position: relative;
	display: block;
	z-index: 3;
	width: 83%;
	/*padding: 0 0 0 30px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.chart li span.t span.a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.chart li span.b {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #dddde5;
	z-index: 1;
}

.statscalendar {
	overflow: hidden;
}

.statscalendar .scitem {
	float: left;
	width: 23%;
	margin-right: 2%;
}

ul.statsuserlist {
	font-size: 80%;
	padding: 0;
	list-style-type: none;
	line-height: 1.3em;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 320px;
	background-color: #fff;
	overflow: auto;
}

.sidebar:after {
	content: "";
	position: fixed;
	top: 0;
	left: 319px;
	bottom: 0;
	z-index: 11;
	width: 1px;
	background: rgba(0,0,51,.067);
}

.sidebar .itemlist {
	margin-left: 0;
	margin-right: 0;
}

.sidebar__head {
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}

.sidebar__head h1 {
	line-height: 20px;
}

.sidebar__list {
	position: relative;
	border-top: 1px solid #ccc;
}

.sidebar__list .itemlist {
	margin-top: 0;
}

.switcher, .switcher > ul, .controls {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 20px;
}

.controls li {
	display: inline-block;
	margin-left: 12px;
}

.controls a em {
	font-style: normal;
	font-weight: normal;
}

.switcher li {
	display: inline-block;
}

.switcher button {
	font-family: inherit;
	font-size: 100%;
	line-height: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0 6px;
	cursor: pointer;
	-webkit-appearance: none;
}

.switcher button:hover {
	background-color: rgba(0, 0, 51, 0.067);
}

.sidebar__list-head {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.sidebar__tabs {
	padding: 0 4px;
}

.sidebar__sort {
	position: absolute;
	top: 10px;
	right: 0;
	padding: 0 4px;
}

.sidebar__sort p {
	display: inline-block;
	margin: 0;
	opacity: .5;
}

.sidebar--user button.user,
.sidebar--channel button.channel,
.sidebar--alpha button.alpha,
.sidebar--activity button.activity {
	font-weight: bold;
}

.sidebar--user #channellist, .sidebar--channel #userlist {
	display: none;
}

.sidebar__close {
	display: none;
	position: absolute;
	top: 12px;
	right: 10px;
}

.sidebar__open {
	position: fixed;
	top: 12px;
	left: 10px;
	padding: 0 3px;
	z-index: 9;
}

.sidebar__menu {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}

.sidebar__menu-link {
	display: block;
	padding: 5px 10px;
	line-height: 17px;
}

.sidebar__menu-link--highlighted {
	background-color: #fff0aa;
}

.sidebar__menu-link .badge {
	position: absolute;
	right: 10px;
	background-color: #B9AF7C;
	color: #fff;
	padding: 2px 6px;
	border-radius: 8px;
	line-height: 1em;
}

.sidebar__controls {
	position: absolute;
	top: 10px;
	right: 10px;
}

.chatview {
	margin: 60px 0 20px 320px;
}

.chatview--live-channel {
	margin-bottom: 80px;
}

.chatview--logbrowsing {
	margin-top: 80px;
}

.chatview--userlisting {
	margin-right: 280px;
}

.chatview h1 {
	font-size: 48px;
	text-align: center;
	margin: 0;
	padding: 100px 0;
}

.chatview > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.chatview .line {
	padding: 0 20px;
}

.chatview .msg > span {
	word-break: break-word;
}

.chatview .msg img {
	vertical-align: middle;
}

.chatview .line__channel,
.chatview .line__channel a,
.chatview .line time {
	color: #999;
	white-space: nowrap;
}

.chatview .line__context {
	float: right;
	margin-left: 10px;
}

.chatview .msg__author,
.chatview .msg__author a,
.chatview .userevent__target,
.chatview .userevent__target a,
.chatview .bunchedevents a {
	color: inherit;
	white-space: nowrap;
}

.chatview .msg--action {
	font-style: italic;
}

.chatview .msg--action time {
	font-style: normal;
}

.chatview .line--highlight {
	background-color: #fff0aa;
}

.chatview .msg--highlight mark {
	background-color: #e8da9b;
}

.chatview .userevent, .chatview .bunchedevents {
	color: #999;
}

.chatview .userevent--strong {
	color: #000;
	font-weight: bold;
}

.chatview .bunchedevents--expandable {
	cursor: pointer;
}

.chatview__top {
	position: fixed;
	top: 0;
	left: 320px;
	right: 0;
	padding: 10px 20px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	z-index: 5;
}

.chatview__top h2 {
	margin: 0;
	line-height: 20px;
}

.chatview__input {
	position: fixed;
	bottom: 0;
	left: 320px;
	right: 0;
	padding: 15px 20px 30px;
	margin: 0;
	border-top: 1px solid #ccc;
	background-color: #fff;
	z-index: 4;
}

.chatview__input input[type="text"] {
	font-family: inherit;
	font-size: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 3px 5px;
}

.chatview__input input[type="submit"] {
	display: none;
}

.chatview__controls {
	position: fixed;
	top: 10px;
	right: 20px;
	text-align: right;
	background-color: #fff;
}

.chatview__logbrowser {
	margin: 5px 0 -5px;
}

.channeluserlist {
	/* TODO: Get rid of magic numbers... */
	position: fixed;
	top: 41px;
	right: 0;
	bottom: 72px;
	width: 280px;
	background-color: #fff;
	overflow: auto;
	z-index: 3;
}

.chatview--logbrowsing .channeluserlist {
	top: 68px;
}

.channeluserlist:after {
	content: "";
	position: fixed;
	top: 41px;
	right: 279px;
	bottom: 72px;
	z-index: 11;
	width: 1px;
	background: rgba(0,0,51,.067);
	z-index: 4;
}

.logbrowser__request {
	float: right;
	margin-left: 20px;
	line-height: 2em;
}

.logbrowser__request input {
	vertical-align: middle;
}

.logbrowser__items {
	list-style-type: none;
	margin: 0 0 0 -10px;
	padding: 0;
	line-height: 2em;
}

.logbrowser__items li {
	display: inline-block;
}

.logbrowser__items a {
	display: block;
	padding: 0 10px;
}

.logbrowser__items a.current {
	background-color: #003;
	color: #fff;
}

.login-form {
	margin: 50px 30px;
	text-align: center;
}

.chatview .date-header {
	text-align: center;
	margin: 1em 0;
	color: #666;
}

@media only screen and (max-width: 767px) {
	/* Mobile last styles */

	/* Sidebar actually an overlay */

	.sidebar {
		box-shadow: 0 0 60px 0 rgba(0,0,0,.5);
		transition: .5s left ease-in-out;
	}

	.sidebar:after {
		display: none;
	}

	.sidebar__close {
		display: block;
	}

	.sidebar__controls {
		right: 40px;
	}

	.sidebar__tabs {
		padding-left: 30px;
	}

	.sidebar--hidden {
		left: -360px;
	}

	.chatview {
		margin: 50px 0 10px;
	}

	.chatview--live-channel {
		margin-bottom: 65px;
	}

	.chatview--logbrowsing {
		margin-top: 110px;
	}

	.chatview--userlisting {
		margin-right: 0;
	}

	.chatview__top, .chatview__input {
		left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.chatview__top {
		padding-left: 40px;
	}

	.chatview__input {
		padding-bottom: 15px;
	}

	.chatview .line {
		padding: 0 10px;
	}

	.logbrowser__request {
		float: none;
		margin-left: 0;
		margin-bottom: 5px;
	}

	.channeluserlist {
		bottom: 57px;
		box-shadow: 0 0 60px 0 rgba(0,0,0,.5);
	}
}

.chatview .msg__author--color-0 {
	color: #0080ff;
}

.chatview .msg__author--color-1 {
	color: #059005;
}

.chatview .msg__author--color-2 {
	color: #a80054;
}

.chatview .msg__author--color-3 {
	color: #9b0db1;
}

.chatview .msg__author--color-4 {
	color: #108860;
}

.chatview .msg__author--color-5 {
	color: #7f4fff;
}

.chatview .msg__author--color-6 {
	color: #58701a;
}

.chatview .msg__author--color-7 {
	color: #620a8e;
}

.chatview .msg__author--color-8 {
	color: #bb0008;
}

.chatview .msg__author--color-9 {
	color: #44345f;
}

.chatview .msg__author--color-10 {
	color: #2f5353;
}

.chatview .msg__author--color-11 {
	color: #904000;
}

.chatview .msg__author--color-12 {
	color: #808000;
}

.chatview .msg__author--color-13 {
	color: #57797e;
}

.chatview .msg__author--color-14 {
	color: #3333dd;
}

.chatview .msg__author--color-15 {
	color: #5f4d22;
}

.chatview .msg__author--color-16 {
	color: #706616;
}

.chatview .msg__author--color-17 {
	color: #46799c;
}

.chatview .msg__author--color-18 {
	color: #80372e;
}

.chatview .msg__author--color-19 {
	color: #8f478e;
}

.chatview .msg__author--color-20 {
	color: #5b9e4c;
}

.chatview .msg__author--color-21 {
	color: #13826c;
}

.chatview .msg__author--color-22 {
	color: #b13637;
}

.chatview .msg__author--color-23 {
	color: #e45d59;
}

.chatview .msg__author--color-24 {
	color: #1b51ae;
}

.chatview .msg__author--color-25 {
	color: #4855ac;
}

.chatview .msg__author--color-26 {
	color: #7f1d86;
}

.chatview .msg__author--color-27 {
	color: #73643f;
}

.chatview .msg__author--color-28 {
	color: #0b9578;
}

.chatview .msg__author--color-29 {
	color: #569c96;
}
