body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 85%;
	line-height: 1.6em;
	color: #000;
	background-color: #fff;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/* @media only screen and (min-width: 600px){
	body {
		font-size: 125%;
	}
} */

strong, dt {
	font-weight: bold;
}
em {
	font-style: italic;
}

a {
	color: #29d;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.invisible {
	font-weight: normal;
}

h1 {
	font-size: 150%;
	margin: 10px 0;
}

h1 a {
	color: inherit;
}

h2 {
	font-size: 125%;
	margin: 10px 0;
}

.error {
	background-color: #eee;
	padding: 20px;
}

.error h1 {
	font-size: 125%;
}

.error h2 {
	font-size: 100%;
}

header {
	border-bottom: 2px solid #ccc;
	padding: 0 10px 0;
	margin: 0 -10px 5px;
}

.itemlist {
	list-style-type: none;
	padding: 0;
	margin: 10px -10px;
}

.itemlist li {
	padding: 3px 50px 3px 10px;
	position: relative;
}

.itemlist li:not(.bestfriend){
	/*font-size: 85%;*/
	line-height: 1.6em;
}

.itemlist li.bestfriend {
	font-size: 125%;
	padding-right: 60px;
}

.itemlist a {
	color: inherit;
}

.itemlist .anew {
	margin-top: 20px;
}

.itemlist .subhead {
	margin: 20px 0 5px;
	/*font-size: 85%;*/
	text-transform: uppercase;
	color: #999;
}

.itemlist .subhead h2 {
	font-size: 100%;
	margin: 0;
	line-height: 1em;
}

.itemlist .ts {
	position: absolute;
	top: 3px;
	right: 10px;
	text-align: right;
}

.itemlist .l {
	white-space: nowrap;
	overflow: hidden;
}

.itemlist time, .itemlist .ts, .itemlist .channel, .itemlist .msg {
	opacity: .5;
}

.itemlist .flash, .itemlist .flash[style] {
	background-color: #c00 !important;
	color: #fff !important;
}

pre#lines {
	line-height: 1.3em;
	font-size: 13px;
	overflow-x: auto;
}

ul#lines {
	list-style-type: none;
	padding: 0;
	font-size: 14px;
	line-height: 1.6em;
}

ul#lines time, ul#lines .channel {
	color: #999;
}

ul#lines time, ul#lines .author, ul#lines .channel {
	padding-right: 1ex;
}

ul#lines li.splitter {
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	padding: 20px 0 20px 5em;
	margin: 10px 0;
	border: 3px solid #ccc;
	border-width: 3px 0;
}

ul#lines li.splitterstart {
	border: none;
	padding-top: 0;
	padding-left: 0;
	margin: 0;
}

ul#lines li.msg {
	display: table;
}

ul#lines li.msg span, ul#lines li.msg strong, ul#lines li.msg time, ul#lines li.msg .channel {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

ul#lines li.action {
	font-style: italic;
}

ul#lines li.waiting {
	text-align: center;
	color: #999;
	font-size: 125%;
	margin: 80px 0;
}

ul.chart li {
	position: relative;
	padding: 5px 10px;
	margin: 0 0 1px;
	line-height: 1.2em;
}

ul.chart li:nth-child(odd) {
	background-color: #fafafa;
}

ul.chart li span.p {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 2;
	text-align: right;
}

ul.chart li span.t {
	position: relative;
	display: block;
	z-index: 3;
	width: 83%;
	/*padding: 0 0 0 30px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.chart li span.t span.a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.chart li span.b {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #dddde5;
	z-index: 1;
}

.statscalendar {
	overflow: hidden;
}

.statscalendar .scitem {
	float: left;
	width: 23%;
	margin-right: 2%;
}

ul.statsuserlist {
	font-size: 80%;
	padding: 0;
	list-style-type: none;
	line-height: 1.3em;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 300px;
	padding: 0 10px;
	background-color: #fff;
	overflow: auto;
}

.sidebar:after {
	content: "";
	position: fixed;
	top: 0;
	left: 319px;
	bottom: 0;
	z-index: 11;
	width: 1px;
	background: rgba(0,0,51, .067);
}

.sidebar--hidden:after {
	display: none;
}

.sidebar__head {
	position: relative;
}

.switcher, .switcher > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 1em;
}

.sidebar__tabs {
	margin: 0 -10px;
	padding: 10px 4px;
	border-bottom: 1px solid #ccc;
}

.sidebar__sort {
	position: absolute;
	top: 0;
	right: -10px;
	padding: 10px 4px;
	line-height: 1em;
}

.sidebar__sort ul {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.sidebar__sort p {
	display: inline-block;
	margin: 0;
	opacity: .5;
}

.switcher li {
	display: inline-block;
}

.switcher button {
	font-family: inherit;
	font-size: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 2px 6px;
	cursor: pointer;
	-webkit-appearance: none;
}

.switcher button:hover {
	background-color: rgba(0, 0, 51, 0.067);
}

.sidebar--user button.user,
.sidebar--channel button.channel,
.sidebar--alpha button.alpha,
.sidebar--activity button.activity {
	font-weight: bold;
}

.sidebar--user #channellist, .sidebar--channel #userlist {
	display: none;
}

.sidebar__close {
	display: none;
	position: absolute;
	top: 12px;
	right: 0;
}

.sidebar__open {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9;
}

.sidebar .sidebar__open {
	display: none;
}

.sidebar--hidden .sidebar__open {
	display: block;
}

.chatview {
	margin: 60px 20px 80px 340px;
}

.chatview h1 {
	font-size: 48px;
	text-align: center;
	margin: 0;
	padding: 100px 0;
}

.chatview > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.chatview .msg__channel, .chatview time {
	color: #999;
}

.chatview .msg--action {
	font-style: italic;
}

.chatview .msg--action time {
	font-style: normal;
}

.chatview h2 {
	position: fixed;
	top: 0;
	left: 320px;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.chatview__input {
	position: fixed;
	bottom: 0;
	left: 320px;
	right: 0;
	padding: 15px 20px 30px;
	margin: 0;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

.chatview__input input[type="text"] {
	font-family: inherit;
	font-size: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 3px 5px;
}

.chatview__input input[type="submit"] {
	display: none;
}

@media only screen and (max-width: 767px) {
	/* Mobile last styles */

	/* Sidebar actually an overlay */

	.sidebar {
		box-shadow: 0 0 60px 0 rgba(0,0,0,.5);
		transition: .5s left ease-in-out;
	}

	.sidebar__close {
		display: block;
	}

	.sidebar__sort {
		right: 20px;
	}

	.sidebar--hidden {
		left: -400px;
	}

	.chatview {
		margin-left: 10px;
		margin-right: 10px;
	}

	.chatview h2, .chatview__input {
		left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.chatview h2 {
		padding-left: 40px;
	}
}
