.chatlines {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;

	&__empty {
		text-align: center;
		padding: 20px;
		font-size: 125%;
		color: #999;
	}
}

.chatview {
	&__frame {
		position: relative;

		&__secondary {
			flex: 0 0 auto;
			width: 280px;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 1px;
				background: rgba(0,0,51,.067);
				z-index: 4;
			}

			@media #{$mobile-media} {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				box-shadow: 0 0 60px 0 rgba(0,0,0,.5);
				z-index: 3;
			}
		}
	}

	.line {
		padding: 0 20px;
		max-height: 200px;
		overflow-y: auto;

		&__main {
			padding: 0 0 0 63px;
			text-indent: -63px;

			time {
				display: inline-block;
				width: 55px;
				padding: 0 8px 0 0;
				text-indent: 0;
				vertical-align: text-bottom;
				overflow: hidden;
				line-height: 1rem;
			}

			/*body.sf-font & {
				// The SF font has issues with digits not being equally wide
				// So let's use a monospace stack instead

				&__main {
					padding: 0 0 0 65px;
					text-indent: -65px;
				}

				time {
					font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
					font-size: 0.6875rem;
					line-height: 1.1818em;
					width: 57px;
				}
			}*/
		}

		&.flashing {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0,0,0,.25);
				animation: 2s fadeOut;
				animation-fill-mode: forwards;
				pointer-events: none;
			}
		}

		&__channel,
		&__channel a,
		time {
			color: #999;
			font-weight: normal;
			white-space: nowrap;
		}

		.prefix {
			color: #999;
			margin: 2px 0;
		}

		&--highlight {
			background-color: #fff0aa;
			transition: 1s background-color;

			&.line--unseen-highlight {
				background-color: #afa;
			}

			mark {
				background-color: rgba(0,0,0,.1);
				color: inherit;
			}
		}

		&--notice {
			background-color: rgba(0,0,0,.05);
		}

		&--connection {
			position: relative;

			.line__main > span {
				position: relative;
				background-color: #fff;
				z-index: 2;
				padding-right: .5em;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				left: 10em;
				height: 1px;
				background-color: #ccc;
				z-index: 1;
			}
		}

		&--offline > :not(.line__offline-resend) {
			opacity: .6;
		}
	}

	.msg {
		word-break: break-word;

		img {
			vertical-align: middle;
		}

		&--action {
			font-style: italic;

			time {
				font-style: normal;
			}
		}

		&--twitch-action {
			font-style: normal;
		}

		&--cleared {
			opacity: .5;
			text-decoration: line-through;

			&, a {
				text-decoration-color: #000;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	.msg__author a,
	.userevent__target,
	.userevent__target a,
	.bunchedevents a {
		color: inherit;
		white-space: nowrap;
	}

	.unhide {
		appearance: none;
		font-family: inherit;
		font-size: inherit;
		border: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		color: #999;
		text-decoration: line-through;

		&:hover {
			text-decoration: underline line-through;
		}
	}

	.userevent, .bunchedevents, .connectionevent {
		color: #999;

		&:before {
			content: "■";
			display: inline-block;
			color: transparent;
			margin: 0 .3em 0 .1em;
			width: .3em;
			height: .3em;
			background-color: #999;
			opacity: .8;
			vertical-align: middle;
			overflow: hidden;
		}
	}

	.userevent--strong {
		color: #000;
		font-weight: bold;

		&:before {
			background-color: #000;
		}
	}

	.connectionevent {
		position: relative;
		color: #006;

		&:before {
			background-color: #006;
		}

		&--bad {
			color: #900;

			&:before {
				background-color: #900;
			}
		}
	}

	.bunchedevents--expandable {
		cursor: pointer;
	}

	.logline--error {
		color: #f00;
	}

	.contextview {
		transition: .5s margin;

		&__options {
			float: right;
			margin-right: 20px;

			&, a {
				margin-left: 10px;
			}
		}

		&--with-context {
			margin: 10px 0;
			padding: 0 20px 10px;

			.contextview__options {
				margin-right: 0;
			}
		}

		&__main {
			background-color: #fff;
			border: 1px solid #ccc;
			max-height: 500px;
			overflow: auto;
			margin: 0 -11px;

			.line {
				padding: 0 10px;
			}

			@media only screen and (max-height: 700px) {
				max-height: 300px;
			}
		}

		&--highlight {
			background-color: #fff0aa;
		}

		.chatlines {
			margin: 0;
		}
	}

	&__input {
		position: relative;
	}

	&__input, &__pagination {
		padding: 15px 20px 30px;
		margin: 0;
		border-top: 1px solid #ccc;
		background-color: #fff;
	}

	&__input input[type="text"] {
		font-family: inherit;
		font-size: 100%;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #ccc;
		padding: 3px 5px;

		&:focus {
			outline: none;
			border-color: #29d;
		}
	}

	&__input input[type="submit"] {
		display: none;
	}

	&__pagination {
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				display: inline;
				margin: 0 0 0 -1px;

				a, strong, &.sep {
					border: 1px solid #ccc;
					padding: 3px 8px;
				}

				&.sep {
					border-color: transparent;
					color: #999;
				}

				&.prev a, &.next a {
					border-color: transparent;
				}
			}
		}
	}

	&__controls {
		text-align: right;
		background-color: #fff;
	}

	&__logbrowser {
		margin: 5px 0 -5px;
		user-select: none;
	}

	.date-header {
		text-align: center;
		margin: 1em 0;
		color: #666;
	}

	&__channel-flags {
		position: absolute;
		bottom: 10px;
		left: 20px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: .75rem;
		line-height: 1em;
		color: #999;
		text-transform: uppercase;

		li {
			display: inline;
			margin: 0 .8em 0 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__top {
		position: relative;
		padding-right: 40px;
	}

	@media #{$mobile-media} {
		&--live-channel, &--logbrowsing {
			margin-bottom: 65px;
		}

		&--logbrowsing {
			margin-top: 110px;
		}

		&--userlisting {
			margin-right: 0;
		}

		&__input, &__pagination {
			left: 0;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 15px;
		}

		&__pagination {
			padding-top: 10px;
			padding-bottom: 10px;

			ul li {
				&.prev a, &.next a {
					span {
						display: none;
					}
				}
			}
		}

		&__channel-flags {
			// TODO: Support for channel flags on mobile
			display: none;
		}

		.line {
			padding: 0 10px;
		}

		.chatview__top {
			padding-left: 10px;
		}

		&--solo,
		.multichat__item--top-left & {
			.chatview__top {
				padding-left: 40px;
			}
		}

		body.electron-mac &--solo,
		body.electron-mac .multichat__item--top-left & {
			.chatview__top {
				padding-left: 105px;
			}
		}
	}
}

.nochatview {
	position: relative;

	h1 {
		font-size: 48px;
		line-height: 1em;
		text-align: center;
		margin: 0 20px;
		padding: 100px 0;
	}

	h2 {
		color: #999;
		font-weight: normal;
		text-align: center;
		margin: -70px 20px 0;
		padding: 0 0 100px;
	}
}

.channeluserlist {
	background-color: #fff;
	margin: 0;
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.chatusername {
	&--color {
		a    { color: inherit; }
		&-0  { color: #0175e7; }
		&-1  { color: #0b8b0b; }
		&-2  { color: #a80054; }
		&-3  { color: #9b0db1; }
		&-4  { color: #168761; }
		&-5  { color: #7f4fff; }
		&-6  { color: #58701a; }
		&-7  { color: #620a8e; }
		&-8  { color: #bb0008; }
		&-9  { color: #44345f; }
		&-10 { color: #2f5353; }
		&-11 { color: #904000; }
		&-12 { color: #7b7b09; }
		&-13 { color: #57797e; }
		&-14 { color: #33d; }
		&-15 { color: #5f4d22; }
		&-16 { color: #706616; }
		&-17 { color: #46799c; }
		&-18 { color: #80372e; }
		&-19 { color: #8f478e; }
		&-20 { color: #4c8440; }
		&-21 { color: #13826c; }
		&-22 { color: #b13637; }
		&-23 { color: #db3935; }
		&-24 { color: #1b51ae; }
		&-25 { color: #4855ac; }
		&-26 { color: #7f1d86; }
		&-27 { color: #73643f; }
		&-28 { color: #0f876d; }
		&-29 { color: #47807c; }
	}
}

img.emoji {
	height: 22px;
	width: 22px;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;

	&-large {
		width: 84px;
		height: 84px;
	}
}

.text-emoji-large {
	font-size: 84px;
}

.twitch-badges {
	margin-right: 1px;

	> * {
		margin-right: 3px;
	}
}

.twitch-cheermote {
	img {
		margin-right: 4px;
	}
}
