
.itemlist {
	list-style-type: none;
	padding: 0;
	margin: 10px -10px;

	li {
		padding: 3px 50px 3px 10px;
		position: relative;

		&.notime {
			padding-right: 10px;
		}

		&:not(.bestfriend) {
			/*font-size: 85%;*/
			line-height: 1.6em;
		}

		&.bestfriend {
			font-size: 125%;
			padding-right: 60px;
		}

		&.online {
			strong {
				&:after {
					content: "●";
					position: relative;
					display: inline-block;
					width: 6px;
					height: 6px;
					bottom: .125em;
					margin: 0 0 0 .25em;
					overflow: hidden;
					border-radius: 50%;
					color: #1b6;
					background-color: #1b6;
				}
			}
		}

		&.nothing {
			opacity: .5;
			text-align: center;
			padding: 20px 10px;
		}
	}

	a {
		color: inherit;
	}

	.anew {
		margin-top: 20px;
	}

	.subhead {
		margin: 20px 0 5px;
		/*font-size: 85%;*/
		text-transform: uppercase;
		color: #999;

		h2 {
			font-size: 100%;
			margin: 0;
			line-height: 1em;
		}
	}

	.ts {
		position: absolute;
		top: 3px;
		right: 10px;
		text-align: right;
	}

	.l {
		white-space: nowrap;
		overflow: hidden;
	}

	time, .ts, .channel, .msg, .now {
		opacity: .5;

		a {
			font-weight: normal;
		}
	}

	.flash, .flash[style] {
		background-color: #c00 !important;
		color: #fff !important;

		strong {
			&:after {
				background-color: #fff !important;
				color: #fff !important;
				opacity: .5;
			}
		}
	}
}

.extralistitem {
	padding: 3px 10px;

	a {
		color: inherit !important;

		&.wide {
			font-weight: normal;

			&:hover {
				text-decoration: none;

				strong {
					text-decoration: underline;
				}
			}
		}
	}

	.now {
		opacity: .5;
	}
}
