.loader {
	position: relative;
	width: 80px;
	height: 80px;
	pointer-events: none;
}

.loader:before, .loader:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 69px solid #006;
	transform: translate3d(-40px, -34.5px, 0);
	transform-origin: 50% 64% 0;
	opacity: 0;
	animation: 1s infinite linear loader;
}

.loader:after {
	animation-delay: -.5s;
}

@keyframes loader {
	0% {
		transform: translate3d(-40px, -34.5px, 0) scale(0.025);
		opacity: 1;
	}
}
