.mainview {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	> * {
		flex: 0 0 auto;
	}

	&__content {
		display: flex;
		flex: 1;

		&__primary {
			flex: 1;
		}
	}

	&__frame-container {
		position: relative;
	}

	&__inner-frame {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
	}

	&__top {
		padding: 10px 20px;
		min-height: 20px;
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		white-space: nowrap;
		-webkit-app-region: drag;

		.app-container--with-notice & {
			top: 40px;
		}

		&__main {
			display: flex;

			h2 {
				flex: 1 1 auto;
				margin: 0;
				line-height: 20px;
				overflow: hidden;
			}

			> div, > ul {
				flex: 0 0 auto;
			}
		}

		a {
			-webkit-app-region: no-drag;
		}
	}

	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	@media #{$mobile-media} {
		margin: 0;

		&__top {
			left: 0;
			padding-left: 40px;
			padding-right: 10px;
		}

		&__loader {
			left: 0;
			width: 100%;
		}
	}
}
