.multichat {
	position: relative;
	height: 100%;

	&__inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: grid;
		grid-gap: 1px;
		background-color: #ccc;
	}

	&__item {
		background-color: #fff;
		overflow: hidden;

		&--focus {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				border: 3px solid rgba(0,0,0,.1);
				pointer-events: none;
				z-index: 8;
			}
		}
	}

	.nochatview {
		h1 {
			font-size: 24px;
		}
	}
}
