.welcome {
	max-width: 600px;
	margin: 30px auto 100px;
	padding: 0 20px;

	h1 {
		text-align: center;
		font-size: 300%;
		margin: 0 0 50px;
	}

	&__graphic {
		margin: 0 0 50px;
		text-align: center;

		svg {
			max-width: 385px;
		}
	}

	&__end, &__error {
		text-align: center;
	}

	&__error {
		background-color: #c00;
		color: #fff;
		padding: 10px 20px;
		margin: 30px 0;
	}

	input[type="submit"] {
		font-size: 200%;
		font-weight: bold;
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	@media #{$mobile-media} {
		h1 {
			font-size: 200%;
			margin-bottom: 30px;
		}

		&__graphic {
			margin-bottom: 30px;
		}
	}
}
