.welcome {
	max-width: 600px;
	margin: 30px auto 100px;
	padding: 0 20px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 40px;
		-webkit-app-region: drag;
	}

	h1 {
		text-align: center;
		font-size: 300%;
		margin: 0 0 50px;
	}

	&__graphic {
		margin: 0 0 50px;
		text-align: center;

		svg {
			max-width: 385px;
		}
	}

	&__end, &__error {
		text-align: center;
	}

	&__error {
		background-color: #900;
		color: #fff;
		padding: 10px 20px;
		margin: 30px 0;
	}

	input[type="submit"] {
		font-size: 200%;
		font-weight: bold;
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	.network-type-selector {
		border: 1px solid #ccc;
		margin: 1em 0 2em;

		&__head {
			position: relative;
			border-bottom: 1px solid #ccc;
			padding: 10px 20px;

			p, ul {
				display: inline;
			}
		}

		&__main {
			padding: 10px 20px;
		}

		&__switcher {
			a {
				border: 1px solid #ccc;
				border-radius: 3px;
				margin: 0 0 0 8px;
				padding: 4px 8px;
			}
		}
	}

	@media #{$mobile-media} {
		h1 {
			font-size: 200%;
			margin-bottom: 30px;
		}

		&__graphic {
			margin-bottom: 30px;
		}
	}
}
